.header-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 15vw;
  height: 80vh;
  align-items: center;
  .info-details {
    color: white;
    h1 {
      font-size: 32px;
      text-align: center;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }
  .donate-form {
    padding: 0 3vw;
    .donate-type {
      display: flex;
      height: 35px;
      background-color: white;
      border: 1px solid #004080;
      border-radius: 5px;
      margin-bottom: 20px;
      button {
        outline: none;
        border: none;
        width: 50%;
      }
    }

    .form-details {
      background-color: white;
      height: 50vh;
      border-radius: 5px;

      .form-header {
        width: 100%;
        height: 50px;
        background-color: #e0e2d9;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #97979767;
        border-radius: 5px 5px 0 0;
        h3 {
          color: #4a4a49;
        }
      }

      .form-body {
        padding: 25px;

        .amount-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          a,
          input {
            padding: 12px 15px;
            min-width: 65px;
            background-color: #e0e2d9;
            margin: 7px 0;
            border-radius: 5px;
            border: 1px solid #97979767;

            span {
              font-size: small;
            }
          }
          input {
            // width: 195px;
          }
        }

        input[type="button"] {
          width: 100%;
          padding: 12px 15px;
          background-color: #004080;
          color: white;
          margin: 5px 0;
          border-radius: 5px;
          border: 1px solid #97979767;
          text-transform: uppercase;
          letter-spacing: 1.2px;
        }
      }

      .form-footer {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          font-size: 15px;
        }
      }
    }
  }
}

.active-button {
  background-color: #004080 !important;
  color: white;
}
