@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
.nav-top{
  height: 60px;
  width: 80%;
  padding: 0 10%;
  background-color: #00AD50;
  
  .brand-logo{
    height: 100%;
    img{
      height: 90%;
      padding: 5px 0;
    }
  }
}
.nav-container {
  background-color: #fff;
  // background: transparent;
  height: 60px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 0 5%;
  font-family: 'Nunito Sans', sans-serif;
  ul {
    display: flex;
    list-style: none;

    .nav-item {
      padding: 4px 10px;
      text-decoration: none;
      font-size: 17px;
     color: #000;

      &:hover {
      }
    }
    .nav-item.nav-button {
      text-decoration: none;
      margin-right: 10px;
    }
    .donate-button {
      border: 1px solid white;
      padding: 5px 15px;
      border-radius: 30px;
      font-size: 15px;
    }
  }

  .right-navbar {
    li {
      margin-right: 0 10px;
      border-right: 1px solid white;
      &:last-child {
        border: none;
      }
    }
  }
}
