footer {
  background-color: #E1ECF9;
  // position: relative;
}
.footer-shape {
  margin-bottom: -5px;
}
.footer-top {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  padding: 3% 10%;
  // margin-top: 100px;
  // border-top: green 2px solid;
  font-size: 17px;
  background-color: #E1ECF9;
  h3 {
    margin-bottom: 10px;
  }

  .org-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .org-logo {
      width: 250px;
    }

    .org-info-details {
      display: flex;
      flex-direction: column;
      height: 100px;
      .org-info-item {
        display: flex;
        align-items: center;

        .info-icon {
          margin-right: 5px;
          font-size: 18px;
        }
        p {
          margin: 5px 0;
        }
      }
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .gallery-images{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      // grid-gap: 10px;
      justify-items: center;
      .gallery-image {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 5px;
        margin: 5px;
      }
    }
    
  }

  .news-letter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subscribe{
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        outline: none;
        border: none;
        margin: 5px 0;
      }
      input[type="button"] {
        background-color: #00AD50;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 15px;
      }
    }
    

    .social {
      display: flex;
      justify-content: space-around;
      margin: 0 5%;

      .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        width: 50px;
        height: 50px;
        color: #5f646b;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: 0.3s ease;

        &:hover {
          border: 1px solid #00AD50;
        }
      }
    }
  }
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
  min-height: 80px;
  align-items: center;
  border-top: 1px solid #00AD50;
  .navigation {
    display: flex;
    justify-content: space-between;
    .navigation-item {
      text-decoration: none;
      color: #5f646b;
      font-weight: 500;
      padding: 5px 5px;
      &:hover {
        color: #00AD50;
      }
    }
  }
}


@media screen and (max-width: 767px){
  .footer-bottom {
    flex-direction: column-reverse;
    margin: 0 5%;
  }
}