.donate-form{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1.3fr 4fr;
    margin-top: -5px;
    justify-content: space-between;
    background-color: #00ad51a2;


    .donate-form-text{
        width: 100%;
        // height: 60px;
        color: white;
        text-transform: uppercase;
        background-color: #00AD50;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center; 
        justify-content: center;
       
    }
    .donate-form-body{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
        padding: 10px 10px;
        
        .donate-form-img{
            position: relative;
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }    
}

input,
select option,
select {
  width: 100%;
  padding: .5em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: all 0.35s ease-in-out;
  font-size: 18px;
  
}
input:focus {
    outline: 0;
    border-color: #00AD50;
  }
select:focus,
select:active {
outline: 0;
}
input[type="button"]{
    background-color: #F57920;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}
@media screen and (max-width: 767px){
    .donate-form{
        grid-template-columns: 1fr;
        padding-bottom: 70px;

        .donate-form-body{
            grid-template-columns: 1fr;

            .donate-form-img{
                img{
                    // left: 50%;
                    // top: 50%;
                    width: 80px;
                    height: 80px;
                    transform: translate(-50%,-10%);
                    
                }
            }
        }
    }
    input,
    select option,
    select {
        padding: .3em;
    }
    
}